<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiZ2F0dCIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRwczpcL1wvZ2l0
		aHViLmNvbVwvUHVyZVN3aWZ0XC9HQVRULmdpdCJdfSwicHJvZHVjdEZpbHRl
		ciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQi
		OiIzLjAuNCIsInVwcGVyQm91bmQiOiI0LjAuMCJ9XX19XX1dLCJkaXNwbGF5
		TmFtZSI6IkJsdWV0b290aEV4cGxvcmVyIiwicGFja2FnZUtpbmQiOnsicm9v
		dCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJwbGF0Zm9ybU5h
		bWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9LHsib3B0aW9ucyI6W10sInBs
		YXRmb3JtTmFtZSI6Im1hY29zIiwidmVyc2lvbiI6IjEyLjAifV0sInByb2R1
		Y3RzIjpbeyJuYW1lIjoiQmx1ZXRvb3RoRXhwbG9yZXIiLCJzZXR0aW5ncyI6
		W3siYnVuZGxlSWRlbnRpZmllciI6WyJjb20ucHVyZXN3aWZ0LmJsdWV0b290
		aC1leHBsb3JlciJdfSx7InRlYW1JZGVudGlmaWVyIjpbIjRXNzlTRzM0TVci
		XX0seyJkaXNwbGF5VmVyc2lvbiI6WyIxLjAiXX0seyJidW5kbGVWZXJzaW9u
		IjpbIjQiXX0seyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJhc3Nl
		dCI6eyJuYW1lIjoiQWNjZW50Q29sb3IifX0sImFkZGl0aW9uYWxJbmZvUGxp
		c3RDb250ZW50RmlsZVBhdGgiOiJJbmZvLnBsaXN0IiwiYXBwQ2F0ZWdvcnki
		OnsicmF3VmFsdWUiOiJwdWJsaWMuYXBwLWNhdGVnb3J5LnV0aWxpdGllcyJ9
		LCJhcHBJY29uIjp7ImFzc2V0Ijp7Im5hbWUiOiJBcHBJY29uIn19LCJjYXBh
		YmlsaXRpZXMiOlt7InB1cnBvc2UiOiJibHVldG9vdGhBbHdheXMiLCJwdXJw
		b3NlU3RyaW5nIjoiQmx1ZXRvb3RoIGlzIG5lZWRlZCB0byBzY2FuIGZvciBk
		ZXZpY2VzLiJ9XSwic3VwcG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsicGFkIiwi
		cGhvbmUiXSwic3VwcG9ydGVkSW50ZXJmYWNlT3JpZW50YXRpb25zIjpbeyJw
		b3J0cmFpdCI6e319LHsibGFuZHNjYXBlUmlnaHQiOnt9fSx7ImxhbmRzY2Fw
		ZUxlZnQiOnt9fSx7InBvcnRyYWl0VXBzaWRlRG93biI6eyJjb25kaXRpb24i
		OnsiZGV2aWNlRmFtaWxpZXMiOlsicGFkIl19fX1dfV19XSwidGFyZ2V0cyI6
		WyJCbHVldG9vdGhFeHBsb3JlciJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51
		bGx9fV0sInRhcmdldE1hcCI6eyJCbHVldG9vdGhFeHBsb3JlciI6eyJkZXBl
		bmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiR0FUVCIsIkdBVFQiLG51bGwsbnVs
		bF19LHsicHJvZHVjdCI6WyJEYXJ3aW5HQVRUIiwiR0FUVCIsbnVsbCxudWxs
		XX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkJsdWV0b290aEV4cGxvcmVyIiwi
		cGF0aCI6Ii4iLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W10sInR5cGUi
		OiJleGVjdXRhYmxlIn19LCJ0YXJnZXRzIjpbeyJkZXBlbmRlbmNpZXMiOlt7
		InByb2R1Y3QiOlsiR0FUVCIsIkdBVFQiLG51bGwsbnVsbF19LHsicHJvZHVj
		dCI6WyJEYXJ3aW5HQVRUIiwiR0FUVCIsbnVsbCxudWxsXX1dLCJleGNsdWRl
		IjpbXSwibmFtZSI6IkJsdWV0b290aEV4cGxvcmVyIiwicGF0aCI6Ii4iLCJy
		ZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W10sInR5cGUiOiJleGVjdXRhYmxl
		In1dLCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1LjYuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		SiXgII0HP5IYYVyYNFzNMQKgodBerHyXCGrVb5hGeLU=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.7.1</string>
	</dict>
</dict>
</plist>
