<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiZ2F0dCIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRwczpcL1wvZ2l0
		aHViLmNvbVwvUHVyZVN3aWZ0XC9HQVRULmdpdCJdfSwicHJvZHVjdEZpbHRl
		ciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQi
		OiIzLjAuNCIsInVwcGVyQm91bmQiOiI0LjAuMCJ9XX19XX1dLCJkaXNwbGF5
		TmFtZSI6IkJsdWV0b290aEV4cGxvcmVyIiwicGFja2FnZUtpbmQiOnsicm9v
		dCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJwbGF0Zm9ybU5h
		bWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9LHsib3B0aW9ucyI6W10sInBs
		YXRmb3JtTmFtZSI6Im1hY29zIiwidmVyc2lvbiI6IjEyLjAifV0sInByb2R1
		Y3RzIjpbeyJuYW1lIjoiQmx1ZXRvb3RoRXhwbG9yZXIiLCJzZXR0aW5ncyI6
		W3siYnVuZGxlSWRlbnRpZmllciI6WyJjb20ucHVyZXN3aWZ0LmJsdWV0b290
		aC1leHBsb3JlciJdfSx7InRlYW1JZGVudGlmaWVyIjpbIjRXNzlTRzM0TVci
		XX0seyJkaXNwbGF5VmVyc2lvbiI6WyIxLjAiXX0seyJidW5kbGVWZXJzaW9u
		IjpbIjMiXX0seyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJhc3Nl
		dCI6eyJuYW1lIjoiQWNjZW50Q29sb3IifX0sImFwcENhdGVnb3J5Ijp7InJh
		d1ZhbHVlIjoicHVibGljLmFwcC1jYXRlZ29yeS5kZXZlbG9wZXItdG9vbHMi
		fSwiYXBwSWNvbiI6eyJhc3NldCI6eyJuYW1lIjoiQXBwSWNvbiJ9fSwiY2Fw
		YWJpbGl0aWVzIjpbeyJwdXJwb3NlIjoiYmx1ZXRvb3RoQWx3YXlzIiwicHVy
		cG9zZVN0cmluZyI6IkJsdWV0b290aCBpcyBuZWVkZWQgdG8gc2NhbiBmb3Ig
		ZGV2aWNlcy4ifV0sInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpbInBhZCIs
		InBob25lIl0sInN1cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9ucyI6W3si
		cG9ydHJhaXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJsYW5kc2Nh
		cGVMZWZ0Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURvd24iOnsiY29uZGl0aW9u
		Ijp7ImRldmljZUZhbWlsaWVzIjpbInBhZCJdfX19XX1dfV0sInRhcmdldHMi
		OlsiQmx1ZXRvb3RoRXhwbG9yZXIiXSwidHlwZSI6eyJleGVjdXRhYmxlIjpu
		dWxsfX1dLCJ0YXJnZXRNYXAiOnsiQmx1ZXRvb3RoRXhwbG9yZXIiOnsiZGVw
		ZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIkdBVFQiLCJHQVRUIixudWxsLG51
		bGxdfSx7InByb2R1Y3QiOlsiRGFyd2luR0FUVCIsIkdBVFQiLG51bGwsbnVs
		bF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJCbHVldG9vdGhFeHBsb3JlciIs
		InBhdGgiOiIuIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOltdLCJ0eXBl
		IjoiZXhlY3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5kZW5jaWVzIjpb
		eyJwcm9kdWN0IjpbIkdBVFQiLCJHQVRUIixudWxsLG51bGxdfSx7InByb2R1
		Y3QiOlsiRGFyd2luR0FUVCIsIkdBVFQiLG51bGwsbnVsbF19XSwiZXhjbHVk
		ZSI6W10sIm5hbWUiOiJCbHVldG9vdGhFeHBsb3JlciIsInBhdGgiOiIuIiwi
		cmVzb3VyY2VzIjpbXSwic2V0dGluZ3MiOltdLCJ0eXBlIjoiZXhlY3V0YWJs
		ZSJ9XSwidG9vbHNWZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS42LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		mpmfXbz9i1OQh0uEraJu53wAyf2GbmaxAcGbgOrHKRU=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.7.1</string>
	</dict>
</dict>
</plist>
